@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');

* {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #EA8889;
    
}

$background: #EA8889;
$letter: #f5eef5;
$borders: #5C125F;